<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments/meta-infos::meta-infos"></head>
<body>
    <div th:replace="fragments/header::header(page='confirmation')"></div>

    <div class="container">
        <h1 style="text-align: center;">Remerciements !</h1>
        <hr>
        <div class="alert alert-success" role="alert">
            <h2>L'équipe de Safari Hotel vous remercie de votre confiance</h2>
            <h3>Nous espérons vous voir bientôt</h3>
        </div>
    </div>
    <div th:replace="fragments/meta-infos::bootstrapscripts"></div>
</body>
</html>