<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments/meta-infos::meta-infos"></head>
<body>
    <div th:replace="fragments/header::header(page='home')"></div>

    <div class="container">
        <div id="carousel-welcome-page" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-welcome-page" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-welcome-page" data-slide-to="1"></li>
                <li data-target="#carousel-welcome-page" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" style="height: 450px;">
                    <img th:src="@{/images/safari-hotel-img-leopard.jpg}" class="d-block w-100" alt="Image Léopard">
                </div>
                <div class="carousel-item" style="height: 450px;">
                    <img th:src="@{/images/safari-hotel-img-elephants.jpeg}" class="d-block w-100" alt="Image Elephants">
                </div>
                <div class="carousel-item" style="height: 450px;">
                    <img th:src="@{/images/safaris-en-afrique.jpg}" class="d-block w-100" alt="Image Giraffes">
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <br>
            <h1>Bienvenu chez Safari Hotel</h1>
            <h3>Decouvrez les merveilles de l'Afrique</h3>
            <hr>
            <h1>Nos chambres</h1>
            <br>
            <div th:replace="fragments/rooms-list::rooms-list(list=${rooms})"></div>
        </div>
    </div>

    <div th:replace="fragments/meta-infos::bootstrapscripts"></div>
</body>
</html>