<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments/meta-infos::meta-infos"></head>
<body>
    <div th:replace="fragments/header::header(page='rooms')"></div>
    <div class="container">
        <h1 style="text-align: center;">Toutes nos chambres</h1>
        <div th:replace="fragments/rooms-list::rooms-list(list=${rooms})">ROOMS LIST</div>
    </div>
    <div th:replace="fragments/meta-infos::bootstrapscripts"></div>
</body>
</html>